{% extends 'base.html' %}
{% load static %}
{% block css %}

{% endblock css %}
{% block content %}
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
	<div class="d-flex flex-column flex-column-fluid">
		<div id="kt_app_content" class="app-content flex-column-fluid">
			<div id="kt_app_content_container" class="app-container container-xxl">
				<div class="card mb-5 mb-xl-8">
					<div class="card-header align-items-center py-5 gap-2 gap-md-5">
						
						<div class="col-sm-12 col-md-5 d-flex">
							<h3 class="card-title align-items-start flex-column">
								<span class="card-label fw-bold fs-3 mb-1">
									Тип
								</span>
							</h3>
							<div class="dataTables_length">
								<label>
									<select class="form-select form-select-sm form-select-solid" id="id_list_entries">
										{% for entry in entries_list %}
											<option value="{{ entry }}" {% if entries == entry %}selected{% endif %}>{{ entry }}</option>
										{% endfor %}
									</select>
								</label>
							</div>
						</div>
						<div class="card-toolbar">
							<a href="{% url 'dashboard:type-create' %}" class="btn btn-sm btn-light-primary">
							<i class="ki-duotone ki-plus fs-2"></i>
								Добавить вид
							</a>
						</div>
					</div>
					<div class="card-body py-3">
						<div class="table-responsive">
							<table class="table align-middle gs-0 gy-4">
								<thead>
									<tr class="fw-bold text-muted bg-light">
										<th class="ps-4 min-w-100px rounded-start">Номер</th>
										<th class="ps-4 min-w-300px rounded-start">Название</th>
										<th class="ps-4 min-w-300px rounded-start">Описание</th>
										<th class="min-w-125px text-end rounded-end"></th>
									</tr>
								</thead>
								<tbody>
									{% for type in types %}
									<tr>
										<td>
											<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{type.id}}</a>
										</td>
										<td>
											<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{type.name}}</a>
										</td>
										<td>
											<a href="#" class="text-dark fw-bold text-hover-primary d-block mb-1 fs-6">{{type.description}}</a>
										</td>
										<td class="text-end">
											<a href="{% url 'dashboard:type-edit' pk=type.id %}" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
												<i class="ki-duotone ki-pencil fs-2">
													<span class="path1"></span>
													<span class="path2"></span>
												</i>
											</a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
								<!--end::Table body-->
							</table>
							<!--end::Table-->
						</div>
						<!--end::Table container-->
					</div>
					<div class="row dataTables_wrapper dt-bootstrap4 no-footer" style="border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);padding: 1em 0em;">
						<div class="col-sm-12 col-md-12 d-flex justify-content-md-end">
							<div class="dataTables_paginate paging_simple_numbers" id="kt_ecommerce_sales_table_paginate">
								<ul class="pagination" id="id_pagination" style="justify-content: end;">
									<li class="page-item {% if not types.has_previous %}disabled{% endif %}">
										<a class="page-link with-prev-row" href="" data-action="{% if types.has_previous %}?page={{ types.previous_page_number }}{% endif %}">
											<i class="previous"></i>
										</a>
									</li>
									{% for i in types.paginator.page_range %}
										{% if types.number == i %}
											<li class="page-item active">
												<a class="page-link page-number" href="" data-action="{{ i }}">{{ i }}</a>
											</li>
										{% elif types.number == values.paginator.num_pages and values.number|add:"-2" == i%}
											<li class="page-item">
												<a class="page-link page-number" href="" data-action="{{ i }}">{{ i }}</a>
											</li>
										{% elif types.number == 1 and types.number|add:"2" == i %}
											<li class="page-item">
												<a class="page-link page-number" href="" data-action="{{ i }}">{{ i }}</a>
											</li>
										{% elif types.number|add:"1" == i or types.number|add:"-1" == i %}
											<li class="page-item">
												<a class="page-link page-number" href="" data-action="{{ i }}">{{ i }}</a>
											</li>
										{% endif %}
									{% endfor %}
									<li class="page-item {% if not types.has_next %}disabled{% endif %}">
										<a class="page-link with-next-row" href="" data-action="{% if types.has_next %}?page={{ types.next_page_number }}{% endif %}">
											<i class="next"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!--begin::Body-->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block javascript %}
<script>
    function filterPage(addToPage){
        var entries = $("#id_list_entries option:selected").val();
        var page = parseInt($("li.page-item.active a.page-link").html()) + addToPage;

        const urlParams = new URLSearchParams(window.location.search);

        urlParams.set('entries', entries);
        urlParams.set('page', page);

        window.location.search = urlParams;
    }
    $("#id_list_entries").change(function(){
        filterPage(-parseInt($("li.page-item.active a.page-link").html()) + 1);
    });
    $("a.page-link.page-number").click(function(e){
        e.preventDefault();
        var page = parseInt($(this).html());
        if (parseInt($("li.page-item.active a.page-link").html()) != page){
            filterPage(page - parseInt($("li.page-item.active a.page-link").html()));
        }
    });
    $("a.page-link.with-next-row").click(function(e){
        e.preventDefault();
        filterPage(1);
    });
    $("a.page-link.with-prev-row").click(function(e){
        e.preventDefault();
        filterPage(-1);
    });
</script>
{% endblock javascript %}